<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>weather</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
  <nav class="row align-text-center" style="background: rgb(19, 214, 221); color: white;">
    <h1 class="col-lg-3">Weather Forecasts</h1>
  </nav>
  <br />
  <br />
  <center class="row">
    <form method="post" class="col-lg-4 col-lg-offset-3">
      {% csrf_token %}
      <div class="input-group">
        <input type="text" class="form-control" name="city" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    <form>
  </center>
  <!-- <center>
    {% load countries %}
      {% get_countries as countries %}
        <select class="btn btn-outline-info">
          {% for country in countries %}
            <option value="{{ country.code }}">{{ country.name }}</option>
          {% endfor %}
        </select>
      </center> -->
  <div class="row">
    {% if date and max and min %}
    <div class="col-md-6 col-md-offset-3">
      <h1>{{city}}</h1>
      <h5>Date : {{date}}</h5>
      <h5>Max Temp in °C : {{max}} </h5>
      <h5>Min Temp in °C : {{min}} </h5>
    </div>
    {% endif %}
  </div>
</body>

</html>